*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    border: 0;
}

.keyBox {
    height: 100px;
    width: 100px;
    background-color: darkgrey;
    padding-right: 0px;
    margin-right: 0px;

}

.content{
    height: 100vh;
    width: max-content;
   
    display: inline-grid;
    margin-left: 13%;
    margin-right: 12%;

    grid-template-columns: repeat(5, 300px);
    gap: 10px;

    background-color: black;
    background-image: url(./concert-clipart-rock-drummer-3.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.text{
    align-content: center;
}


